<!DOCTYPE html>
<html>

<head>
    <title>Mini-Shopify Landing Page</title>
    <meta charset="UTF-8">
    <meta name="author" content="Nicholai Ponomarev">
    <link rel="stylesheet" href="styles/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="page-title-div">
        <img src="images/Mini-Shopify Logo.png" alt="Mini-Shopify Logo" width="150" height="150">
        <h3>Bring your ideas to life for FREE!</h3>
        <p>The future of business is yours to shape</p>
    </div>
    <div class="login-div">
        <div>
            <p>I am a shopper</p>
            <button onclick="window.location.href='shopper_login.html'">Login</button>
        </div>
        <div>
            <p>I am a merchant</p>
            <button onclick="window.location.href='merchant_login.html'">Login</button>
        </div>
    </div>
</body>

</html>