<!DOCTYPE html>
<html>

<head>
    <title>Mini-Shopify Login Page</title>
    <link rel="stylesheet" href="styles/index.css">
</head>

<body>
    <div class="page_title_div">
        <img src="images/Shopify-Logo.wine.png" alt="Shopify Logo" width="300" height="225">
        <h3>Bring your ideas to life for FREE!</h3>
        <p>The future of business is yours to shape</p>
    </div>
    <div class="login">
        <div class="shopper_login">
            <p>I am a shopper</p>
            <button onclick="window.location.href='shopper_login_register.html'">Login</button>
        </div>
        <div class="merchant_login">
            <p>I am a merchant</p>
            <button onclick="window.location.href='merchant_login.html'">Login</button>
        </div>
    </div>
</body>

</html>