<!DOCTYPE html>
<html>

<head>
    <title>Mini-Shopify Shopper Login Page</title>
    <link rel="stylesheet" href="styles/shopper_login_register.css">
</head>

<body>
    <div class="container">
        <h3>Mini-Shopify Shopper Login</h3>
        <p>Login to your account</p>
        <form class="login-form" action="">
            <label for="username_email">Username or Email:</label>
            <input type="text" id="username_email" name="username_email" placeholder="example123 or email@example.com">

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password">

            <button type="submit">Login</button>
        </form>
        <div class="register-link">
            <p>Don't have a shopper account? <a href="">Register here</a></p>
        </div>
    </div>
</body>

</html>